.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  align-self: end;
}

@media screen and (max-width: 1023px) {
  .place__title {
    /* max-width: 330px; */
    /* Из ревью: Не стоит без необходимости ограничивать ширину текста. Здесь текст находится внутри грид-ячейки,
     и должен занимать её полностью, его ширина будет ограничена шириной контейнера. 
     -- Тогда "коса" на 768px умещается в первую строчку, и чуть не по макету; но как я понимаю, это не критично*/
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    max-width: calc(100% - 32px);
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}