.header__logo {
  background: url(../../../images/header-logo.svg) no-repeat center;
  background-size: contain;
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}